.socket {
  color: var(--socket);
  font-weight: 700;
}

.socket[data-socket='A'] {
  --socket: var(--sock-a);
}

.socket[data-socket='B'] {
  --socket: var(--sock-b);
}

.socket[data-socket='C'] {
  --socket: var(--sock-c);
}
